<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href=" /stylesheet/style.css" type="text/css">
  <title>Document</title>
</head>
<body>
  <div class="left-side">
    <span><i class=" fa fa-times fa-2x cross closebtn"> </i></span>

    <a href="/">Home</a>

     <a href="/guidance">Placements</a>
     <a href="/resources">Resources</a>
    <a href="/notes">Notes</a>
    <a href="/blogs">Blogs</a>
    <a href="/write">Write a blog</a> 
  </div>
  <div class="nav"> 
     <span><i class="fas fa-bars fa-3x open"></i> </span>
     <img src="/Images/navbar-logo.jpg" alt="Not Found "> 
  </div>
  <div class="guidance">
    <div class="guidance-top">

      <header>
        A guide to get placed in a company
      </header>
      <div class="guide-img">
        <img src="/Images/footer-logo.png" alt="Not Found">
      </div>
      <a href="/resources"><button class="btnb">Resources</button></a>
    </div> 

    <div class="info">
      <h2>So, Iam going to show you two paths if you want to get placed</h2>
      <div class="first-path">
        <h1>Dsa path</h1>
        <p>So, this path followed by almost every student in the college whether it may a very good reputed college or not a well known college. But, the difference is that in reputed colleges companies come to recruit students for different roles and unfortunately this is not the case for other non-reputed colleges. </p>
        <h2>This path is for the students of colleges where companies doesn't visit for hiring</h2>
        <h3>Let's start...</h3>
        <p>First and formost thing is to learn a programming language which helps you to understand programming in general.
          You may have heard about names of various programming languages. But, you have to learn one language and with the help of that language you have to solve problems which will talk about later in this guide  </p>
          <h3>Java or c++ </h3>
          <p>So, I suggest you to start with any one of them, I list down some benefits of these two so you can choose.</p>
          <p>Java is widely used in the industry and it is one of the robust. So learning java helps in the long run of your journey. I would highly recommend you to start with java. C++ in the other hand very fast language but not widely used in the industry.</p>
          <p>Select one language and understand it and implement it as soon as you are able to make your own programs.So, there are many tutorials available start with any one of them. </p>
          <h2>Solve coding problems</h2>
          <p>At this point I recommend you to solve problems. So, go to hackerrank or pepcoding (although there are many) these are two websites where you can practice problems. At this point you will get a basic understanding of programming. </p>
          <p>Now, the learning path of data stuctures and algorithms starts. So, I recommend you to watch kunal kushwaha or pepcoding channel and start learning and wathing the videos of there playlist. But, stop here learning and watching videos will not help. Try solving problems on your own and implement the code. </p>
          <p>Try to complete all the concepts and solve basic to medium level problems. </p>
          <p>Now you have completed almost all the topics which are required for the coding interviews. But, at this point you have to maximize your problems solving skills by practicing a lot of problems and as well you can give contest which helps you getting better at problems solving skills.    </p>
          <p>After solving all the problems of various topics now you can participate in the coding assessments of the companies and you can compete with participants make sure to make a good resume including all your profiles of the coding platforms. </p>
          <p>Now, before going to interview make sure you understand and cs fundamentals and object oriented programming as well. As, you are ready for the interviews now apply for internships and try to get an opprotunity to with the company.</p>
             
 
       </div>
       <div class="second-path">
         <h1>Development Path</h1>
         <p>So, this path also has more opportunities you can get a remote job with this path as well.</p>
         <p>Starting with learning a language is same as DSA path and after that learning data structures and algorithms and solving very few and basic problems are needed. So, give less to this as compared what you will be doing  after that.</p>
         <p>Now, there are many choices you have after this you can start development that can be web, android or ios, or you can start doing cloud or devops fields as well as data scientist.  </p>
         <p>What I suggest you is that  start learning any fields from wherever you want and implement concepts and try to make some projects as well. After this you can do internships at various startups or start working on opensource projects there are many projects out there and start solving the issues. Also you can take part in open source programs there are various programs out there for the students. After than start creating big projects for you resume and make a good resume with all the internships you have done. You can also make a team and can participate in hackathons and if you want you can participate as individual as well.    </p>
         <p>Now you completed making a good resume and start applying to jobs on various websites or if you want to get into big tech start solving coding problems or you can apply to startups as well. </p>
       </div>
    </div>
   </div>
 
    <footer class="footer">
      <div class="copyright">
        <p>Student-hub  2022</p>
        <p>copyright &copy;. All rights reserved</p>
      </div>
    </footer>

  <script>
    document.querySelector('.open').addEventListener('click', open);
    document.querySelector('.cross').addEventListener('click', close);
    function open(){
      document.querySelector('.left-side').style.width = "250px";
    }
    function close()
    {
      document.querySelector('.left-side').style.width = "0"
    }
   </script>
</body>
</html>