<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href=" /stylesheet/style.css" type="text/css">
  <title>Document</title>
</head>
<body>
  <div class="left-side">
    <span><i class=" fa fa-times fa-2x cross closebtn"> </i></span>

    <a href="/">Home</a>

     <a href="/guidance">Placements</a>
     <a href="/resources">Resources</a>
    <a href="/notes">Notes</a>
    <a href="/blogs">Blogs</a>
    <a href="/write">Write a blog</a> 
  </div>
  <div class="nav"> 
     <span><i class="fas fa-bars fa-3x open"></i> </span>
     <img src="/Images/navbar-logo.jpg" alt="Not Found "> 
  </div>
  <div class="main-notes">
    <h1>Engineering Notes</h1>
 
  </div>
  <div class="main-notes">

    <h1>First Year</h1>
  </div>
  <div class="y1">
    <div class="s1">
      <h2>Subjects</h2>
      <ul>
        <li>Mathematics-1</li>
        <li>Chemistry</li>
        <li>Pps</li>
        <li>EITK</li>
        <li>ES</li>
      </ul>
      <a href=""><button class="l">Download</button></a> 
    </div>
    <div class="s2">
      <h2>Subjects</h2>
      <ul>
        <li>Mathematics-2</li>
        <li>Physics</li>
        <li>BEE</li>
        <li>Indian Constitution</li>
        <li>English</li>
       </ul>
       <a href=""><button class="r">Download</button></a>

    </div>

    </div>
    <div class="main-notes">

      <h1>Second Year</h1>
    </div>
    <div class=" y1 y2"> 
      <div class=" s1 s3">
        <h2>Subjects</h2>
        <ul>
          <li>Operational Research</li>
          <li>Basic Electronics</li>
          <li>Java</li>
          <li>Dsa</li>
          <li>Digital Electronics</li>
          <li>Discrete Mathematics</li>
        </ul>
        <a href=""><button class="l">Download</button></a>
      </div>
      <div class=" s2 s4">
        <h2>Subjects</h2>
        <ul>
          <li>lorem</li>
          <li>lorem</li>
          <li>lorem</li>
          <li>lorem</li>
          <li>lorem</li>
          <li>lorem</li>
          </ul>
         <a href=""><button class="r">Download</button></a>
      </div>
    </div>

    <div class="main-notes">

      <h1>Third Year</h1>
    </div>
    <div class=" y1 y3">
      <div class=" s1 s5">
        <h2>Subjects</h2>
        <ul>
          <li>lorem</li>
          <li>lorem</li>
          <li>lorem</li>
          <li>lorem</li>
          <li>lorem</li>
          </ul>
          <a href=""><button class="l">Download</button></a>
      </div>
      <div class=" s2 s6">
        <h2>Subjects</h2>
        <ul>
          <li>kiren</li>
          <li>lorem</li>
          <li>lorem</li>
          <li>lorem</li>
          <li>lorem</li>
         </ul>
         <a href=""><button class="r">Download</button></a>
       </div>
    </div>
    <div class="main-notes">

      <h1>Fourth Year</h1>
    </div>
    <div class=" y1 y4">
      <div class="s1 s7">
        <h2>Subjects</h2>
        <ul>
          <li>lorem</li>
          <li>lorem</li>
          <li>lorem</li>
        </ul>
        <a href="https://drive.google.com/drive/folders/1Lu64ZlRwFtBR2XMiJm3DMjePyzQ0nFTQ?usp=sharing"><button class="l">Download</button></a>
      </div>
      <div class=" s2 s8">
        <h2>Subjects</h2>
        <ul>
          <li>lorem</li>
          <li>lorem</li>
          <li>lorem</li>
        </ul> 
        <a href=""><button class="r">Download</button></a>
       </div>
    </div>
     

 
 
    <footer class="footer">
      <div class="copyright">
        <p>Student-hub  2022</p>
        <p>copyright &copy;. All rights reserved</p>
      </div>
    </footer>

   <script>
    document.querySelector('.open').addEventListener('click', open);
    document.querySelector('.cross').addEventListener('click', close);
    function open(){
      document.querySelector('.left-side').style.width = "250px";
    }
    function close()
    {
      document.querySelector('.left-side').style.width = "0"
    }
   </script>
</body>
</html>